.adminProductPage {
    margin: 3rem;
}

.adminProductPageHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.addProductButton{
    border: none;
    border-radius: 8px;
}

.addProductLink{
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #ffa500;
    border-radius: 8px;
}
.addProductLink:hover{
    background: #b87802;
}