.adminPage{
    margin: 3rem;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.adminLoading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.spinner{
    align-items: center;
    animation: spin 1s linear infinite;
    border: 10px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    box-sizing: border-box;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
